@{
    ViewBag.Title = "OpenShift Community";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>IRC</h3>
    </header>
    <p>
        <span class="label">From your client:</span>
        <span><a href="irc://irc.freenode.net/#openshift">irc.freenode.net #openshift</a></span>
    </p>
    <p>
        <span class="label">Web Client:</span>
        <span><a href="https://www.openshift.com/irc">Freenode Webclient</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Forums</h3>
    </header>
    <p>
        <span class="label">Our amazing forums:</span>
        <span><a href="https://www.openshift.com/forums/openshift">Come join us!</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>GitHub:</h3>
    </header>
    <p>
        <span class="label">OpenShift:</span>
        <span><a href="https://github.com/openshift/">Help openshift grow!</a> (or learn how it works, either or.)</span>
    </p>
    <p>
        <span class="label">Me:</span>
        <span><a href="https://www.github.com/wshearn">See what else I have been up to.</a> (This cartridge is hosted there
        and pull requests and bug reports are welcome</span>
    </p>
</section>