@{
    ViewBag.Title = "Home";
}
@section featured {
	<div class="jumbotron">
	<h2>@ViewBag.Message</h2>
	<br />
    <p class="lead">
        To learn more about ASP.NET MVC visit
        <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
        The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
        If you have any questions about ASP.NET MVC visit
        <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">the ASP.NET forums</a>.
    </p>
    </div>
}

<h3>We suggest the following:</h3>
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#aboutMVC" data-toggle="tab">About MVC</a></li>
  <li><a href="#gettingStarted" data-toggle="tab">Getting Started</a></li>
  <li><a href="#community" data-toggle="tab">Learn about the community</a></li>
</ul>

<br />

<div class="tab-content">
	<div class="tab-pane active" id="aboutMVC">
	    <p>
	    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
	    enables a clean separation of concerns and that gives you full control over markup
	    for enjoyable, agile development. ASP.NET MVC includes many features that enable
	    fast, TDD-friendly development for creating sophisticated applications that use
	    the latest web standards.
	    </p>
	    <br />
	    <a class="btn btn-danger pull-right" href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
	</div>

	<div class="tab-pane" id="gettingStarted">
	    <p>
	    MonoDevelop 4 works with git and ssh making writing your awesome application
	    extremely easy.
	    </p>
	    <br />
	    @Html.ActionLink("Learn more…", "GettingStarted", "Home", null, new {@class="btn btn-warning pull-right"})
	</div>

	<div class="tab-pane" id="community">
	    <p>
		The OpenShift community is filled with a wealth of knowledge that can make working
		with OpenShift a very enjoyable experience.
		</p>
		<br />
		@Html.ActionLink("Learn More...", "Community", "Home", null, new {@class="btn btn-success pull-right"})
	</div>
</div>