<configuration>
        <appSettings>
                <add key="docPath" value="/home/whearn/Work/apps/cart/mono3/lib/monodoc" />
                <add key="docExternalPath" value="" />
                <!-- <add key="cache" value="file,~/path/to/cache/directory" /> -->
        </appSettings>
</configuration>
